* { 
    padding: 0;
    margin: 0;
}


:root {
    --color-um: #BDC7BD;
    --color-ciznza-barra: #D9D9D9;
    --color-ciznza-barra-transparente: 200, 200, 200 ;
    --color-dois: #6A9C6A;
    --color-tres: #3C733C;
    --color-quatro: #194719;
    --color-cinco: #093309;
    --color-seis: #013301;
}
body {
  background-color: var(--color-tres);
  display: flex;
  flex-direction: column;
}
header {
  background-color: var(--color-tres);
  margin-block-start: 4.67vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* primeiro elemento do header contendo imagem da logo do petshoping. */
header > :first-child {
  background-color: var(--color-um);
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

/* exerce em cima da imagem da logo na nav bar */
.logoImg {
  width: 56vw;
  position: relative;
  z-index: 9;
}

/* segundo elemento do header contendo a nav com o menu principal. */
header > :nth-child(2) {
  background-color: var(--color-ciznza-barra);
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.7);
}

/* edita os elementos de texto da navbar */
.navbar-item {
  color: var(--color-seis);
  text-decoration: none;
  font-family: "poppins", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1em;
  letter-spacing: 0.2em;
}
/* edita os elementos na ordem de "home", "produtos", "serviços", "galeria" */
/* home */
.navbar-item:nth-child(1){
 margin-left: 5vw;
}

/* produtos */
.navbar-item:nth-child(2){
  padding-left: 45vw;
  margin-right: 5vw;
}

/* serviços */
.navbar-item:nth-child(3){
  margin-left: 5vw;
}

/* galeria */
.navbar-item:nth-child(4){
  margin-right: 5vw;
}


/* main que engloba todo o carrussel  */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-dois);
  width: 100%;
  border: none;
  box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.7);
  border-radius: 16px;
  padding-bottom: 10vh;
  margin-bottom: 10vh;
  
}


/* acessa o primeiro elemento h3 do main, o titulo do carrussel */
/* antes titulo-carrossel */
main > :first-child {
  padding: 0px 20px 0px 20px;
  margin-top: 10vh;
  background-color: #fff;
  color: var(--color-seis);
  border-radius: 10px;
  box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.7);
}


/* acessa o segundo elemento no main, a div, que é a parte de traz de todo o carrussel, que engloba tudo sobre o carrousel */
.carrousel-back{
  width: 90%;
  height: 70vh;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  display: flex;
  margin-left: 5vh;
  padding-bottom: 25vh;
}



/* edita a imagem da moldura que fica no carrussel. */
/* .moldura */
.moldura-carrossel {
  position: relative;
  z-index: 5;
  width: 90%;
  height: 70vh;
  border-radius: 14px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.7);
}

/* acessa a div do carroussel, nela contem uma div com imagens e dois botoes  */
/* .carrousel */
.carrousel {
  position: absolute;
  width: 90%;
  border-radius: 15px;

}

/* acessa a primeira div do carrussel que contem os slides para fazer edição */
/* antes slides */
/* .carrousel > :first-child  */
.slides {
  overflow-x: auto;
}

.slide {
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;
  border-radius: 15px;

}

/* acessa a div que contem todos os slides */
/* .slide-item  */
.slide-item {
  width: 96%;
  height: 70vh;
  right: 100px;
  flex-shrink: 0;
  transition: all 600ms ease-in-out;
  opacity: 0.5;
  border-radius: 15px;
}

.current-item {
  opacity: 1;
}

/* acessa as flechas de controles dos slides */

.arrow-left,
.arrow-right {
  height: 95vh;
  position: absolute;
  z-index: 11;
  top: 0;
  left: 0;
  right: auto;
  bottom: 0;
  font-size: 1.25rem;
  line-height: 100px;
  width: 2.9vw;
  color: #ffffff;
  transition: all 600ms ease-in-out;
  background: linear-gradient(to left, transparent 0%, black 500%);
  opacity: 0.1;
  cursor: pointer;
  border: none;
  border-radius: 15px;;
}

.arrow-left:hover,
.arrow-right:hover {
  opacity: 1;
}

.arrow-right {
  right: 0;
  left: 95%;
  text-align: right;
  background: linear-gradient(to right, transparent 0%, black 200%);
}

.slides::-webkit-scrollbar {
  display: none;
}

.slides {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}


/* Edição das informações de contato */
/* divs */
.box-dog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
  position: relative;
  bottom: 32vh;
  @media (min-width: 380px) and (max-width: 480px) {
    bottom: 35vh;
  }
}


.box-dog > :first-child {
  width: 90%;
  padding-bottom: 10vh;
}

.contato-box {
  background-color: rgba(var(--color-ciznza-barra-transparente), 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 95%;
  border-radius: 15px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.7);
  padding-bottom: 10vh;
  margin-bottom: 10vh;
}

.informacoes h1{
background-color: white;
border-radius: 10px;
color: var(--color-seis);
font-family: "poppins", sans-serif;
font-weight: bold;
font-style: normal;
font-size: 1.3em;
box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.7);
padding: 0px 20px 0px 20px;
width: 50%;

display: flex;
justify-content: center;
margin: 0px 0px 0px 7vh;

}

.form-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;
  width: 98%;
  height: 50%;
  background-color: white;
  border-radius: 15px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.7);
}

.form-box form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 3.3vh;
}

.form-box label {
  margin-top: 1.6vh;
  width: 90%;
  color: var(--color-seis);
  font-size: 1.3em;
}

.form-box input {
  margin-left: 1vw;
  width: 90%;
  background-color: #b7b7b7;
  opacity: 0.2;
  border-radius: 7px;
}

.mensagem {
  height: 26.69vh;
}

.form-box button {
  background-color: var(--color-seis);
  margin-top: 3.66vh;
  width: 40%;
  height: 7.17vh;
  color: white;
  border-radius: 7px;
  font-size: 2em;
  margin-bottom: 3vh;
}

.informacoes-box {
  width: 90%;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  margin-top: 10vh;
  margin-left: 2vh;
}

.informacoes-box h3 {
  display: flex;
  justify-content: center;
  color: var(--color-seis);
  font-size: 1.5em;
}

.informacoes-box button {
  background-color: var(--color-seis);
  margin-top: 1.66vw;
  width: 100%;
  height: 7.17vh;
  color: white;
  border-radius: 7px;
  position: relative;
  right: 4.2vw;
  margin-left: 5vw;
}

/* informacoes da div de contato */
.informacoes-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 3.33vh;
}

.informacoes-item img {
  width: 10vw;
}

.informacoes-item p {
  display: flex;
  flex-direction: row;
  margin-left: 1vw;
  color: var(--color-seis);
  width: 100%;
  font-size: 1.5em;
}

.imagemfixa {
  position: relative;
  right: 48%;
  width: 50% !important;
}

.imagemfixatriangulo {
  position: relative;
  right: 32%;
  width: 50% !important;
}

@media (min-width: 480px) {
  .logoImg {
    width: 40vw;
    position: relative;
    z-index: 9;
    @media (min-width: 570px) and (max-width: 767px) {
      width: 35vw;
    }
  }
  main {
  padding-bottom: 15vh;
  }
  
  header > :nth-child(2) {
    height: 8vh;
    @media (min-width: 570px) and (max-width: 767px) {
      height: 6vh;
      align-items: center;
    }
  }
  
  .navbar-item:nth-child(2){
    @media (min-width: 570px) and (max-width: 767px) {
      padding-left: 8vw;
    }
  }
  .navbar-item:nth-child(3){
    @media (min-width: 570px) and (max-width: 767px) {
      margin-left: 20vw;
    }
  }

  main > :first-child {
    padding: 0px 20px 0px 20px;
    font-size: 2.2em;
  }

  .box-dog {
    bottom: 37vh;
    @media (min-width: 570px) and (max-width: 767px) {
      bottom: 48vh;
    }

  }
  .box-dog > :first-child {
    width: 80%;
  }
  
  .contato-box{
    width: 95%;
  }
  
  .informacoes h1{
    font-size: 1.5em;
    width: 60%;

  }

  .form-box {
    width: 90%;
    left: 5vw;
    top: 3vh;
  }
  .form-box form {
    background-color: white;
    width: 95%;
    border-radius: 15px;
  }
  .form-box label {
    font-size: 1em;
  }
  .form-box button {
    font-size: 1em;
  }
  .informacoes-item p {
    font-size: 1.2em;
  }
}
@media (min-width: 768px) {

  header > :nth-child(2) {
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
  .navbar-item{
    font-size: 1.2em;
  }
  /* edita os elementos na ordem de "home", "produtos", "serviços", "galeria" */
  /* home */
  .navbar-item:nth-child(1){
  margin-left: 2vw;
 }
 
 /* produtos */
 .navbar-item:nth-child(2){
   padding-left: unset;
   padding-right: 30vw;
   margin-right: 10vw;
 }
 
 /* serviços */
 .navbar-item:nth-child(3){
   margin-left: unset;
 }
 
 /* galeria */
 .navbar-item:nth-child(4){
   margin-right: unset;
 }
  .logoImg {
    width: 35vw;
    position: relative;
    z-index: 9;
  }
  main {
    padding-top: 7vh;
    padding-bottom: 25vh;
    margin-bottom: unset;
  }

  main > :first-child {
    padding: 0px 20px 0px 20px;
    font-size: 2.6em;
  }
  .box-dog {
    bottom: 33vh;
    @media (min-width: 880px) and (max-width: 1023px) { 
      bottom: 40vh;
    }
  }
  .box-dog > :first-child {
    width: 60%;
    padding-bottom: 5vh;
    margin-top: 4vh;
  }
  
  .contato-box{
    width: 90%;
    height: unset;
    flex-direction: row;
    padding: unset;
    margin-bottom:  unset;
  }
  
  .informacoes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
  }
  .informacoes h1{
    font-size: 1.6em;

    display: flex;
    justify-content: center;
    align-items: center ;

    position: relative;

    margin: 0vh 0vw 0vh 18vw;
    
  }

  .form-box {
    width: 50%;
    position: unset;
  }
  .form-box form {
    background-color: white;
    width: 100%;
    border-radius: 15px;
  }
  .form-box label {
    font-size: 1em;
  }
  .form-box button {
    font-size: 1em;
  }
  .informacoes-item p {
    font-size: 1.2em;
  }
  .informacoes-box {
    width: 50%;
    margin: 5vh 3vw 5vh 3vw ;
  }
  .informacoes-box h3 {
    margin-top: 5vh;
    margin-left: unset;
  }
  .informacoes-item img {
    width: 5vw;
  }
  .informacoes-item button {
    font-size: 1.2em;
  }
  
  .informacoes-item p {
    display: flex;
    flex-direction: row;
    margin-left: 1vw;
    color: var(--color-seis);
    width: 100%;
    font-size: 1em;
  }
  
  .imagemfixa {
    position: relative;
    right: 48%;
    width: 40% !important;
  }
  
  .imagemfixatriangulo {
    position: relative;
    right: 32%;
    width: 48% !important;
  }
}
@media (min-width: 1024px) {
  .logoImg{
    width: 32vw;
    @media (min-width: 1280px) and (max-width: 1439px) {
      width: 20vw;
    }
  }

   
   /* produtos */
  .navbar-item:nth-child(2){
    padding-right: 20vw;
  }
  main {
    padding-bottom: 50vh;
    @media (min-width: 1280px) and (max-width: 1439px) {
      padding-bottom: 40vh;
      
    }
  }
  
  .carrousel-back{
    width: 98%;
    height: 95vh;
  }

  .moldura-carrossel{
    width: 98%;
    height: 95vh;
  }
  .carrousel{
    width: 98%;
    height: 95vh;
  }
  .slides {
    width: 100%;
    height: 95vh;
  }
  .slide{
    width: 98%;
    height: 95vh;
  }
  .slide-item{  
    width: 100%;
    height: 95vh;
  }
  .arrow-left{
    @media (min-width: 1280px) and (max-width: 1439px) {
    }
  }
  .arrow-right{
    @media (min-width: 1280px) and (max-width: 1439px) {
    }
    
  }
  .box-dog {
    flex-wrap: nowrap;
    bottom: 38vh;
    @media (min-width: 1280px) and (max-width: 1439px) {
      bottom: 52vh;
      
    }
  }
  .box-dog > :first-child {
    width: 50vw;
    height: 50vh;
    position: relative;
    z-index: 9;
    margin-top: unset;
    @media (min-width: 1280px) and (max-width: 1439px) {
      width: 40vw;
      height: 60vh;
    }
    
  }
  
  .contato-box{
    justify-content: start;
    width: 100%;
  }
  
  .informacoes {
    width: 98%;
    height: 40vh;
    display: unset;
    
  }
  .informacoes h1{
    width: 30%;
    height: 10vh;
    font-size: 1.5em;
  }

  .form-box {
    width: 40%;
    height: 100%;
    
  }
  .form-box form {
    font-size: 1.5em;
    @media (min-width: 1280px) and (max-width: 1439px) {
      font-size: 1em;
    }
  }

  .informacoes-item img {
   width: 3vw;
  }
  .informacoes-item button {
   font-size: 1.2em;
   @media (min-width: 1280px) and (max-width: 1439px) {
    font-size: 1em;
  }
  }
  
  .informacoes-item p {
    font-size: 1em;
    @media (min-width: 1280px) and (max-width: 1439px) {
      font-size: 1.3em;
    }
  }
  .emailMargin{
    margin-right: 1vw;
  }
  .imagemfixa {
    width: 50% !important;
  }
  
  .imagemfixatriangulo {
    width: 50% !important;
  }
}
@media (min-width: 1440px) {  
 .logoImg{
  width: 24vw;
}
.navbar-item{
  font-size: 2em;
}
main{
  padding-top: 10vh;
  padding-bottom: 40vh;
}

main > :first-child {
  font-size: 4em;
  padding: 0px 40px 0px 40px;
}
.box-dog{
  bottom: 53vh;
  ;
}
.box-dog > :first-child {
  width: 60%;
  height: unset;
  bottom: 10vh;
}
}